﻿@model MessageNotificationViewModel

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
            </tbody>
            </table>
    </div>
