﻿
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@{
    var user = await userManager.GetUserAsync(this.User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PixelBucketWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/homePage.css" />
    <link rel="stylesheet" href="~/css/btnAsLink.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PixelBucketWorld</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(this.User))
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <span>@user.FirstName @user.LastName</span>
                                    <img class="dropImg" src="~/images/no_image_user.png" />
                                    <div class="dropdown-content">
                                        <a asp-area="PBW" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">Profile</a>
                                        @if (this.User.IsInRole(UserRoleConsts.ORGANISER))
                                        {
                                            <a asp-area="PBW" asp-controller="Users" asp-action="OrganiserDashboard" asp-route-id="@user.Id">Dashboard</a>
                                        }
                                        else
                                        {
                                            <a asp-area="PBW" asp-controller="Users" asp-action="Dashboard" asp-route-id="@user.Id">Dashboard</a>
                                        }
                                        <a asp-area="PBW" asp-controller="Messages" asp-action="GetUserMessages" asp-route-id="@user.Id">Inbox</a>
                                        <form asp-area="PBW" asp-action="Logout" asp-controller="Users" method="post" id="logoutForm">
                                            <a id="submitLogoutAnchor">Logout</a>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="PBW" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="PBW" asp-controller="Users" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PixelBucketWorld</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layoutPage.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
