﻿@model PhotoToRateCardViewModel

<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.PhotoUrl" />
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Story</p>
            @if (Model.Assessments.Any(a => a.UserId.ToString() == this.User.FindFirst(ClaimTypes.NameIdentifier).Value))
            {
                <span class="text-dark">You've already rated this photo</span>
            }
            else
            {
                <form method="post">
                    <label asp-for="Score"></label>
                    <input asp-for="Score" type="range" min="1" max="10" />
                    <textarea asp-for="Comment" maxlength="150" rows="4" cols="30" placeholder="Write a comment for the photo..."></textarea>
                    <div class="form-group">
                        <input asp-for="IsFittingCategory" type="checkbox" class="form-check" />
                        <label asp-for="IsFittingCategory"></label>
                    </div>
                    <input asp-for="PhotoId" value="@Model.PhotoId" style="display:none" />
                    <input asp-for="RaterId" value="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" style="display:none" />
                    <input asp-for="Story" value="@Model.Story" style="display:none" />
                    <input asp-for="Title" value="@Model.Title" style="display:none" />
                    <input asp-for="PhotoUrl" value="@Model.PhotoUrl" style="display:none" />
                    <input asp-for="Assessments" value="@Model.Assessments" style="display:none" />
                    <button asp-area="PBW" asp-action="Create" asp-controller="Assessments" type="submit">Rate</button>
                </form>
            }
        </div>
    </div>
</div>