﻿@model UserViewModel

<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/no_image_user.png" />
        <div class="card-body">
            <p class="card-title"><span style="font-weight:bold">Username:</span> @Model.Username</p>
            <p class="card-text">
                <span style="font-weight:bold">Email:</span> @Model.Email <br />
                <span style="font-weight:bold">Full name:</span> @Model.FirstName @Model.LastName
            </p>
        </div>
    </div>
</div>