﻿@model MessageViewModel

<h3>@Model.Title</h3>
<p>from: @Model.SenderEmail</p>
<p>to: @Model.ReceiverEmail</p>
<p>@Model.Content</p>
<form method="get">
    <button type="submit" asp-area="PBW" asp-route-id="@Model.ContestId" asp-action="Details" asp-controller="Contests">View details</button>
</form>
@if (Model.IsUserJuror)
{
    @if (!Model.isContestAccepted && Model.IsContestBeforePhaseI)
    {
        <form method="post">
            <button type="submit" class="btn-success" asp-area="PBW" asp-action="AcceptContestInvitation" asp-controller="Users"
                    asp-route-ContestId="@Model.ContestId" asp-route-UserId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">
                Accept!
            </button>
            <p class="text-secondary"><strong>NOTE:</strong> You must accept the invitation to participate in the contest.</p>
        </form>
    }
}
else
{
    if (!Model.isContestAccepted && Model.IsContestBeforePhaseII)
    {
        <form method="post">
            <button type="submit" class="btn-success" asp-area="PBW" asp-action="AcceptContestInvitation" asp-controller="Users"
                    asp-route-ContestId="@Model.ContestId" asp-route-UserId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">
                Accept!
            </button>
            <p class="text-secondary"><strong>NOTE:</strong> You must accept the invitation to participate in the contest.</p>
        </form>
    }
}