﻿@model UserRegisterViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Enter first name">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Enter last name">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Enter username">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Enter password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Re-enter your password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsSubscribed" type="checkbox" class="form-check-input">
        <label asp-for="IsSubscribed"></label>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" asp-area="PBW" asp-action="Register" asp-controller="Users" class="btn btn-primary">Register</button>
    <small id="helpMessage" class="form-text text-muted">We'll never share your details with anyone else.</small>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}