﻿@model ContestPhaseTwoDetailsViewModel
@inject UserManager<User> userManager
@{
    var user = await userManager.GetUserAsync(this.User);
}

@await Html.PartialAsync("GeneralPhaseDetailsPartial", model: Model)

@if (this.User.IsInRole("Participant"))
{
    <p class="text-warning">The contest is in Phase II and the photos are reviewed by the jury.</p>
}
<p>Remaining time until end of the phase: <span id="remainingTimeCurrPhase">@Model.CurrentPhaseDiffInMillisec</span></p>

@if (this.User.IsInRole("Participant") && Model.Jury.All(j => j.Id != user.Id))
{
    @if (@Model.Participants.FirstOrDefault(p => p.Id == user.Id) != null)
    {
        <p class="text-success">Your photo is submitted. You can view final result soon! Good luck!</p>
    }
    else
    {
        @if (!Model.Photos.Any())
        {
            <p>Contest has already started! Our participants will start uploading photos soon! Enjoy and join us with the next contest!</p>
        }
        else
        {
            <p>Contest has already started! Enjoy the photos of our participants and join us on the next contest!</p>
            <div class="container">
                <div class="row">
                    @foreach (var photo in Model.Photos)
                    {
                        @await Html.PartialAsync("_PhotoCardPartial", model: photo);
                    }
                </div>
            </div>
        }
    }
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var photoCardVM in Model.Photos)
            {
                @await Html.PartialAsync("_PhotoToRateCardPartial", model: photoCardVM);
            }
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Timers.js"></script>
}