﻿@model IPhotoCardViewModel

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.PhotoUrl"/>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Story</p>
        </div>
    </div>
</div>
